'isnull' or 'isna' can be used to remove blanks in a dataset, that is 'nan'

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Col A': [1, np.nan, 7],
    'Col B': [np.nan, 2, 3],
    'Col C': [np.nan, 2, np.nan]
})
df

   Col A  Col B  Col C
0    1.0    NaN    NaN
1    NaN    2.0    2.0
2    7.0    3.0    NaN

In [5]:
pd.isnull(df)

   Col A  Col B  Col C
0  False   True   True
1   True  False  False
2  False  False   True

In [8]:
pd.notnull(df).sum()

Col A    2
Col B    2
Col C    1
dtype: int64