In [3]:
import pandas as pd
import numpy as np

In [4]:
population = pd.Series([12345.6, 23456.7, 34567.8, 45678.9, 5678,1])

In [5]:
population

0    12345.6
1    23456.7
2    34567.8
3    45678.9
4     5678.0
5        1.0
dtype: float64

In [6]:
population.name = "Nigeria's Population"
population

0    12345.6
1    23456.7
2    34567.8
3    45678.9
4     5678.0
5        1.0
Name: Nigeria's Population, dtype: float64

In [7]:
population.values

array([1.23456e+04, 2.34567e+04, 3.45678e+04, 4.56789e+04, 5.67800e+03,
       1.00000e+00])

In [8]:
population.index = ["Lagos", "Abeokuta", "Anambra", "Osun", "kogi", "Delta"]
population

Lagos       12345.6
Abeokuta    23456.7
Anambra     34567.8
Osun        45678.9
kogi         5678.0
Delta           1.0
Name: Nigeria's Population, dtype: float64

In [9]:
#  to find the numeric position of a pandas series , use "iloc" attribute

In [14]:
population['Lagos']

population[['Osun', 'Anambra']]

Osun       45678.9
Anambra    34567.8
Name: Nigeria's Population, dtype: float64

In [16]:
population.iloc[2]

34567.8

In [17]:
population.iloc[[0, 4]]

Lagos    12345.6
kogi      5678.0
Name: Nigeria's Population, dtype: float64

In [23]:
population['Lagos':'kogi']

Lagos       12345.6
Abeokuta    23456.7
Anambra     34567.8
Osun        45678.9
kogi         5678.0
Name: Nigeria's Population, dtype: float64

In [24]:
population>12000

Lagos        True
Abeokuta     True
Anambra      True
Osun         True
kogi        False
Delta       False
Name: Nigeria's Population, dtype: bool

In [26]:
population[population>12000]

Lagos       12345.6
Abeokuta    23456.7
Anambra     34567.8
Osun        45678.9
Name: Nigeria's Population, dtype: float64

In [27]:
population.mean()

20288.0

In [28]:
population[population > population.mean()]

Abeokuta    23456.7
Anambra     34567.8
Osun        45678.9
Name: Nigeria's Population, dtype: float64

In [29]:
population > population.mean()

Lagos       False
Abeokuta     True
Anambra      True
Osun         True
kogi        False
Delta       False
Name: Nigeria's Population, dtype: bool

In [31]:
population[(population > 25000) | (population>population.mean())]

Abeokuta    23456.7
Anambra     34567.8
Osun        45678.9
Name: Nigeria's Population, dtype: float64

In [33]:
population[(population > 20000) & (population<30000)]

Abeokuta    23456.7
Name: Nigeria's Population, dtype: float64

In [38]:
population['Lagos']=30000
population

Lagos       30000.0
Abeokuta    23456.7
Anambra     34567.8
Osun        45678.9
kogi         5678.0
Delta           1.0
Name: Nigeria's Population, dtype: float64

In [39]:
population.iloc[-3]=40000
population

Lagos       30000.0
Abeokuta    23456.7
Anambra     34567.8
Osun        40000.0
kogi         5678.0
Delta           1.0
Name: Nigeria's Population, dtype: float64

In [43]:
df = pd.DataFrame({
    'Population': [12.34, 23.45, 34.56, 45.67, 56.78, 678.90, 789.98],
    'GDP': [1234567, 2345678, 3456789, 4567890, 5678901, 6789012, 7890123],
    'Surface Area': [123455, 478389, 463789, 897621, 387414, 142409, 749652],
    'MDI': [0.987, 0.876, 0.765, 0.654, 0.543, 0.432, 0.321],
    'Continent': ['Africa', 'Asia', 'Antartica', 'Australia', 'North America', 'South America', 'Europe'],
    }, columns=['Population', 'GDP', 'Surface Area', 'MDI', 'Continent'])

df

   Population      GDP  Surface Area    MDI      Continent
0       12.34  1234567        123455  0.987         Africa
1       23.45  2345678        478389  0.876           Asia
2       34.56  3456789        463789  0.765      Antartica
3       45.67  4567890        897621  0.654      Australia
4       56.78  5678901        387414  0.543  North America
5      678.90  6789012        142409  0.432  South America
6      789.98  7890123        749652  0.321         Europe

In [45]:
df.index = ['Nigeria', 'Cyprus', 'France', 'Fiji', 'Canada', 'Chile', 'Italy' ]
df

         Population      GDP  Surface Area    MDI      Continent
Nigeria       12.34  1234567        123455  0.987         Africa
Cyprus        23.45  2345678        478389  0.876           Asia
France        34.56  3456789        463789  0.765      Antartica
Fiji          45.67  4567890        897621  0.654      Australia
Canada        56.78  5678901        387414  0.543  North America
Chile        678.90  6789012        142409  0.432  South America
Italy        789.98  7890123        749652  0.321         Europe

In [46]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'MDI', 'Continent'], dtype='object')

In [47]:
df.index

Index(['Nigeria', 'Cyprus', 'France', 'Fiji', 'Canada', 'Chile', 'Italy'], dtype='object')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Nigeria to Italy
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   MDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [50]:
df.size

35

In [51]:
df.shape

(7, 5)

In [52]:
df.describe()

       Population           GDP   Surface Area       MDI
count    7.000000  7.000000e+00       7.000000  7.000000
mean   234.525714  4.566137e+06  463247.000000  0.654000
std    343.308347  2.397525e+06  287252.629586  0.239787
min     12.340000  1.234567e+06  123455.000000  0.321000
25%     29.005000  2.901234e+06  264911.500000  0.487500
50%     45.670000  4.567890e+06  463789.000000  0.654000
75%    367.840000  6.233956e+06  614020.500000  0.820500
max    789.980000  7.890123e+06  897621.000000  0.987000

In [53]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
MDI             float64
Continent        object
dtype: object

In [54]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

'loc' allows selection of rows by index
'iloc' allows selection of rows by index position
(the above works with rows)


but if you want to just show column by column with reference to the index, then you just do:
df['column name']

In [58]:
df

         Population      GDP  Surface Area    MDI      Continent
Nigeria       12.34  1234567        123455  0.987         Africa
Cyprus        23.45  2345678        478389  0.876           Asia
France        34.56  3456789        463789  0.765      Antartica
Fiji          45.67  4567890        897621  0.654      Australia
Canada        56.78  5678901        387414  0.543  North America
Chile        678.90  6789012        142409  0.432  South America
Italy        789.98  7890123        749652  0.321         Europe

In [55]:
df.loc['France']

Population          34.56
GDP               3456789
Surface Area       463789
MDI                 0.765
Continent       Antartica
Name: France, dtype: object

In [57]:
df.iloc[-4]

Population          45.67
GDP               4567890
Surface Area       897621
MDI                 0.654
Continent       Australia
Name: Fiji, dtype: object

In [59]:
df['MDI']

Nigeria    0.987
Cyprus     0.876
France     0.765
Fiji       0.654
Canada     0.543
Chile      0.432
Italy      0.321
Name: MDI, dtype: float64